<div class="ml-24 w-auto px-4 py-8">
   <div class="mt-24 flex w-full items-start justify-between gap-x-6">
     <div class="flex w-full flex-col gap-y-2">
       <div class="flex space-x-2">
         <% @post.categories.each do |category| %>
           <span class="border-none bg-indigo-100 px-2 py-1 text-indigo-800 rounded">
             <%= category.name %>
           </span>
         <% end %>
       </div>
       <div class="flex justify-between pr-10">
         <div class="flex">
           <h1 class="mr-5 text-3xl font-semibold">
             <%= @post.title %>
           </h1>
           <% if @post.status == "draft" %>
             <span class="my-2 border-none px-2 py-1 text-indigo-800 bg-indigo-100 rounded">
               <%= @post.status %>
             </span>
           <% end %>
         </div>
       </div>
       <div class="ml-2 flex items-center space-x-5">
         <div class="w-12 h-12 rounded-full bg-gray-200"></div>
         <div class="flex flex-col">
           <p class="text-black-500 font-md">
             <%= @post.user.name %>
           </p>
           <p class="text-gray-500">
             <%= @post.updated_at.strftime("%d %B %Y") %>
           </p>
         </div>
       </div>
       <p class="ml-2 mt-5">
         <%= simple_format(@post.description) %>
       </p>
     </div>
   </div>
</div>
